.background-image-home {
    /* position: relative; */
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

.heading-1 {
    position: unset;
    top: 0;
    right: 0;
    text-align: center;
    /* padding-top: 3rem;
    padding-right: 1.5rem; */
}

.heading-2 {
    position: unset;
    top: 0;
    right: 0;
    text-align: center;
    /* padding-top: 3rem;
    padding-right: 1.5rem; */
}

.subtitle-1 {
    display: flex;
    align-content: center;
    justify-content: center;
}

/* /////////////////////////////////////////////////// */
/* Responsiveness */
/* @media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {
    .heading {
        padding-top: 2.5rem;
        padding-right: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .heading {
        padding-top: 2rem;
        padding-right: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .heading {
        padding-top: 0.5rem;
        padding-right: 0.25rem;
    }
}

@media only screen and (max-width: 360px) {
    .heading {
        padding-top: 0.25rem;
        padding-right: 0rem;
    }
} */

.css-f3jnds-MuiDataGrid-columnHeaders {
    background-color: #239823;
    color: #ecf3ec;
}

.MuiDataGrid-root.MuiDataGrid-root--densityStandard.css-1e2bxag-MuiDataGrid-root {
    border: none;
}

/* .css-1e2bxag-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer  {
    justify-content: center;
} */

/* .css-1e2bxag-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell {
    justify-content: center;
} */

