.app-bar-1 {
    background: linear-gradient(0deg, #257529 0%, #3ca542 100%) !important;
    box-shadow: inset 0px 1px 1px 0px #bbffbb80, 5px 5px 10px 0px rgba(16, 34, 0, 0.1),
        4px 4px 5px 0px #1a00221a !important;
    height: 80px !important;
    width: 100% !important;
    position: relative;
    overflow: hidden;
}

.css-9tj150-MuiButton-endIcon {
    color: #9ffb54;
}

/* .pages-mobile-menu {
    color: #ffffff;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 800 !important;
    font-size: 1rem !important;
    text-transform: uppercase;
    letter-spacing: 2px !important;
    text-decoration: none;
} */

/* /////////////////////////////////////////////////// */
/* Responsiveness

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 600px) {}

@media only screen and (max-width: 360px) {} */

